@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@tailwind base;
@tailwind components;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/flatpickr.scss';
@import 'additional-styles/theme.scss';

@tailwind utilities;

.colorized{
    
    background: rgb(72,195,230);
    background: linear-gradient(0deg, rgba(72,195,230,1) 0%, rgba(44,148,222,1) 100%);
}
.colorized-banner{
    background-color: #9ed9ef;
}
.margin-l-15{
    margin-left: 15px;
}

.text-gray-800{
    color: #0e6aa1 !important;
    font-weight: 600;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.trclass {
    border-bottom: 0.3pt solid rgb(123, 209, 255);
    }

.btclass{
    margin-left: 15px;
}

.numberclass{
    width: 32px;
}


@media (max-width: 1360px) {
    .md2 {
        display: none !important;
    }

    .buttoncenter{
        display: flex;
        justify-content: center;

    }
}

@media (min-width: 1360px) {
    .md2_i {
        display: none !important;
    }
}

.textareatype{
    min-height:50px;
    margin-top: 15px;
    
}

.textareatype-margin{
    margin-top: 10px;
}

.fx-a:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'A';
    font-size: 14px;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }